POSTGRES_DB=wordpress
POSTGRES_USER=wordpress
POSTGRES_PASSWORD=wordpress

WORDPRESS_URL=http://localhost:8080
WORDPRESS_SITE_TITLE=WordPress Local
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin
WORDPRESS_ADMIN_EMAIL=admin@example.com